.menu {
  margin: 1rem;
  padding: 4px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div:last-child {
  margin-bottom: 0px;
}

/* .dot:hover,
.square:hover,
.rect:hover { */
.menu:hover .dot,
.menu:hover .square,
.menu:hover .rect {
  background-color: rgba(68, 240, 76, 0.4);
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: #424242;
  margin-bottom: 4px;
  border-radius: 50%;
}

.square {
  height: 1rem;
  width: 1rem;
  background-color: #424242;
  margin-bottom: 4px;
}

.rect {
  height: 0.5rem;
  width: 2.5rem;
  background-color: #424242;
  margin-bottom: 4px;
}
